@import "../../../../styles/variables.scss";
@import '../../../data/imageSrc.module.scss';

.section{
    
   width: fit-content;
   height: fit-content;  
   padding: 1rem;
 
    
    
}
.container{
   width: fit-content;
    
   background: rgba(255, 255, 255, 0.7);
   backdrop-filter: blur(10px);
   padding: 2rem;
   border-radius: 50px;
   
   
    
    
    
}
.outerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}

.background{
    width: 100%;
    height: fit-content;
    background: url($gimmicksBackground), linear-gradient( $color--AFYOP-purple, $color--AFYOP-pink);
    background-repeat: no-repeat;
    object-fit: fill;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 840px) {
    .container {
     
        display: flex;
        flex-direction: column;
       
      }
    }
  

