@import "../../../../styles/variables.scss";

.sliderContainer{
    height:800px;
    border: 1px;
    border-width: 1px;
    object-fit: contain;
    
    
}

.slick {
    position: relative;
    height: 50rem !important;
}