@import "../../../../styles/variables.scss";
@import "../../../data/imageSrc.module.scss";

.landing {
  background-color: $color--primary;
  background-image: url($landing-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor;
  height: 90vh;

  .hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__slogan {
      width: 100%;
      height: 12rem;
      position: relative;

      .HereAndNow__img {
        width: 100%;
      }
    }

    .homepage {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      width: 100%;
      max-width: 320px;

      &__define {
        color: $color--white;

        .word {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          gap: 1rem;

          h1 strong {
            font-family: $font--stack--brant;
            font-size: $h2FontSize;
          }

          > p {
            padding-bottom: 1.2rem;
          }
        }
      }

      &__define:nth-of-type(even) {
        .word {
          flex-direction: row-reverse;
        }

        > p {
          text-align: end;
        }
      }
    }
  }
}

.SimulaNotice {
  box-sizing: border-box;
  display: grid;
  place-items: center;
  height: 10vh;
  background-color: $color--AFYOP-yellow;

  h1 {
    font-size: 2rem;
    // padding-block: 2vh;
    color: $color--AFYOP-brown;
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.SimulaLanding {
  cursor: pointer;
  isolation: isolate;
  position: relative;
  height: 40vh;
  background: linear-gradient(90deg, #9D3ED7 0%, #EB6395 32.81%, #88D6E0 68.23%, #F2CC2B 100%);
  display: grid;
  place-items: center;
  
  .background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .SimulaLogo {
    display: flex;
    position: relative;
    width: 20rem;
    height: 12.188rem;
    place-self: end auto;
  }

  h1 {
    z-index: 1;
    color: $color--white;
    letter-spacing: 1px;
    place-self: start auto;
  }

  &:hover {
    background: linear-gradient(90deg, #EB6395 0%, #88D6E0 32.81%, #F2CC2B 68.23%,  #9D3ED7 100%);
  }
}

@media screen and (max-width: 992px) {
  .landing {
    background-image: url($landing-bg-992px);
  }
}

@media screen and (max-width: 768px) {
  .landing {
    background-image: url($landing-bg-768px);
  }
}

/* SMALL DEVICES */
@media screen and (max-width: 576px) {
  .landing {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 325px) {
  .landing {
    .homepage {
      padding: 0 3rem;
    }
  }
}