@import '../../../../styles/variables.scss';

.SimulaTVEP {
    width: 100%;
    height: fit-content;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding-block: 0.5rem;

    .thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 2;
        min-width: 150px;
        width: 100%;
        min-height: 10rem;
        height: 100%;
        border-radius: 10px;

        background-color: #010101;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

        cursor: pointer;
        pointer-events: none;
        
        /* HIDE SMALL TITLE INITIALLY */
        .smallTitle {
            display: none;
        }

        svg {
            opacity: 0.8;
        }
    }
    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1;
        height: 100%;
        max-height: fit-content;
        padding-left: 1rem;
        border-left: 3px solid $color--AFYOP-purple;
        gap: .3rem;

        h4 {
            color: $color--AFYOP-pink;
            font-size: 1.563rem;
            font-weight: $h1FontWeight;
        }

        p {
            color: $color--AFYOP-purple;
            font-weight: 600;
        }
    }
}

@media (max-width: 768px) {
    .SimulaTVEP {
        .details {
            h4 {
                font-size: 1.2rem;
            }
            p {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 576px) {
    .SimulaTVEP {
        flex-wrap: wrap;
        
        .thumbnail {
            pointer-events: all;

            .smallTitle {
                display: block;
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                color: $color--white;
                padding: .5rem;
                background-color: rgba(0, 0, 0, 0.6);
                border-radius: 100px;
            }
        }

        .details {
            display: none;
        }
    }
}