@import "../../../../styles/variables.scss";
@import "../../../data/imageSrc.module.scss";

.background {
  width: 100%;
  height: fit-content;
  background: url($AFYOPLandingBG), linear-gradient($color--AFYOP-pink, $color--AFYOP-purple);
  background-repeat: no-repeat;
  object-fit: fill;
  background-position: center;
  background-size: cover;
}

.SimulaLogo {
  position: relative;
  width: 30.625rem;
  height: 19.063rem;
}

.AFYOPLanding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .AFYOP-logo {
    width: 7.688rem;
    height: auto;
  }

  .AFYOP-text {
    width: 12.625rem;
    height: auto;
  }

  .AFYOP-simula-logo {
    width: 31.75rem;
    height: auto;
  }

  .first-year-onboard-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    &--date {
      font-size: $h5FontSize;
      font-weight: $h4FontWeight;
      color: $color--AFYOP-purple;
    }
    
    .dates {
      padding: 1rem;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.9);
      backdrop-filter: blur(10px);
      text-align: center;

      p {
        color: $color--AFYOP-purple;
      }
    }
  }

  .italic {
    font-style: italic;
    color: white;
  }

  .body-text-section {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 65rem;
    
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 20px;

    p {
      font-size: $bodyFontSize;
      font-weight: $h4FontWeight;
      line-height: 1.5;
      text-align: center;
      color: $color--AFYOP-purple;

      em {
        font-weight: 900;
        font-style: normal;
      }

    }

    .intro {
      .yellow {
        color: $color--AFYOP-yellow;
        font-weight: 900;
      }
    }
  }

  .finders-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .class-finder,
    .faci-finder {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;

      p {
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        padding: 1.5rem;

        font-size: $bodyFontSize;
        font-weight: $h4FontWeight;
        text-align: center;
        color: $color--AFYOP-purple;
        line-height: 1.5;
        max-width: 20rem;
      }
    }

  }
}

@media (max-width: 992px) {
  .AFYOPLanding {
    .AFYOP-simula-logo {
      width: 28rem;
      height: auto;
    }

    .finders-section {
      flex-direction: column;
    }
  }
}

@media (max-width: 576px) {
    .SimulaLogo {
      position: relative;
      width: 22.625rem;
      height: 11.063rem;
    }
}

@media (max-width: 320px) {
  .SimulaLogo {
    position: relative;
    width: 20.625rem;
    height: 9.063rem;
  }
}