@import "../../../../styles/variables.scss";

.outerContainer{
    display: flex;
    
}


.innerContainer{
    display: flex;
    flex-direction: column;
    align-items: left;
    
}

.paragraph{
    font-weight: bold;
    padding: 1rem 1rem;
    text-align: left;
    
}

