@import "../../../../styles/variables.scss";

.outerContainer{
    background-color: white;
    color:$color--AFYOP-yellow;
    width: fit-content;
    border-radius: 20px;
    padding: 10px;
    
    
    
}
.label{
   
    font-size:17px;
    font-weight: $h1FontWeight;
}